@import "custom";
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap");

body {
  font-family: "Khula", sans-serif;
  line-height: 1.6;
  font-size: 1.25rem;
  margin-top: 5rem;
}

.banner-title {
  font-size: 2rem;
  margin-left: 0.25rem;
  color: $light;
}

nav {
  background-color: $primary;
  z-index: 1010;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.subtle {
  display: none;
}

// Bootstrap "lg" breakpoint
@media (min-width: 992px) {
  .banner-title {
    display: inline-block;
    font-size: 6rem;
    color: $primary;
  }

  nav {
    display: none;
    margin-left: 12.5%;
  }

  .subtle {
    color: $light;
    font-size: 0.85rem;
  }

  body {
    margin-top: 0;
  }
}

.btn {
  margin-top: 1rem;
  font-size: 1.5rem;
}
