@import "custom";
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap");

body {
  font-family: "Khula", sans-serif;
  line-height: 1.6;
  font-size: 1.25rem;
}

.banner-title {
  font-size: 6rem;
  text-align: center;
}

a {
  text-decoration: none;
}

nav {
  margin-left: 12.5%;
}
