$primary: #ff9e2c;
$primary-darken: #bd8b34;
$dark: #424242;
$dark-darken: #2b2b2b;
$light: #fffbee;

$body-bg: $dark;
$body-color: $primary;
$card-color: $dark;
$card-bg: $light;
$input-color: $dark;
$input-bg: $light;
$form-text-color: $primary;

$table-bg-scale: -50%;

// Import Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

.card-title {
  border-bottom: 1px solid $primary;
  font-size: 2rem;
}

.card-text,
.card-title {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a, .btn-link {
  transition: color .15s ease-in;
  text-decoration: none;

  &:focus, &:hover {
    color: $primary-darken;
    text-decoration: underline;
  }
}

.btn-primary {
  color: $dark;

  &:hover {
    color: $dark-darken;
  }
}
