.form-group {
  margin-bottom: 1rem;
}

.form-control,
button[type="submit"],
.btn-secondary {
  font-size: 1rem;
}

// Bootstrap "lg" breakpoint
@media (min-width: 992px) {
  .form-control,
  button[type="submit"],
  .btn-secondary {
    font-size: 1.5rem;
  }
}
